@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/gotham-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/gotham/gotham-bold-webfont.svg#gothmbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/gotham-book-webfont.eot");
  src: url("../fonts/gotham/gotham-book-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/gotham/gotham-book-webfont.woff") format("woff"),
    url("../fonts/gotham/gotham-book-webfont.ttf") format("truetype"),
    url("../fonts/gotham/gotham-book-webfont.svg#gothmbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/gotham-medium-webfont.eot");
  src: url("../fonts/gotham/gotham-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/gotham/gotham-medium-webfont.woff") format("woff"),
    url("../fonts/gotham/gotham-medium-webfont.ttf") format("truetype"),
    url("../fonts/gotham/gotham-medium-webfont.svg#gothmmedium") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("../fonts/gotham/GothamLight.eot");
  src: local("GothamLight"),
    url("../fonts/gotham/GothamLight.woff") format("woff"),
    url("../fonts/gotham/GothamLight.ttf") format("truetype");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/gotham/Gotham-Bold-Regular.ttf");
  src: local("GothamBold"),
    url("../fonts/gotham/Gotham-Bold-Regular.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  color: #6f6f6f;
  font-size: 14px;
  font-family: Gotham;
  font-weight: normal;
  background: #f7f7f7;
}

/*  Typography Style   ||-----------*/

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  position: relative;
  font-family: Gotham;
  font-weight: normal;
}

h1 span {
  position: relative;
}

h1:before {
  content: attr(data-title);
  font-size: 61px;
  margin-top: 0;
  position: absolute;
  top: 4px;
  left: 3px;
  color: rgba(6, 60, 54, 0.08);
  z-index: 0;
}

h2 {
  font-size: 23px;
  margin-top: 0;
  color: #232323;
}

h2 span {
  color: #ffb400;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
}

h6 {
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 17px;
  font-weight: 600;
}

h3,
h4,
h4,
h6 {
  font-family: Gotham;
  margin-top: 10px;
  font-weight: 600;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: #444;
}

@media (min-width: 400px) and (max-width: 824px) {
  .circle-text {
    font-size: 2.2vh !important;
  }
}

@media (max-width: 824px) {
  .inner-intro h1 {
    font-size: 35px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 23px;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
}

/*  Padding and Margin Style   ||-----------*/

.padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.no-padding {
  padding: 0;
}

.ptb-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-60 {
  padding: 60px;
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pr-30 {
  padding-right: 30px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.ptb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.ptb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt {
  padding-top: 110px;
}

.pb {
  padding-bottom: 110px;
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.plr-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pb-40 {
  padding-bottom: 40px;
}

.ptb-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-90 {
  padding-top: 80px;
}

.pb-90 {
  padding-bottom: 80px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-38 {
  padding-bottom: 38px;
}

.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.call-to-action-1{
  text-align: center;
}

.mlr-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.up-80 {
  margin-top: -80px;
}

.mtb-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mtb-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mtb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mt-up {
  margin-top: -100px;
}

@media (min-width: 824px) and (max-width: 991px) {
  .up-80 {
    margin-top: 50px;
  }
  .mt-sm-30 {
    margin-top: 30px;
  }
  .mb-sm-30 {
    margin-bottom: 30px;
  }
  .mt-sm-20 {
    margin-top: 20px;
  }
  .mt-sm-15 {
    margin-top: 15px;
  }
  .plataforma {
    font-size: 19px !important;
  }
  .banner-title-2 {
    bottom: 9rem !important;
  }
  .float-none-sm {
    float: none;
  }
  .float-left-sm {
    float: left;
  }
  .float-right-sm {
    float: right;
  }
  .pl-sm-0 {
    padding-left: 0;
  }
  .plr-xs-15 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .padding-sm-25 {
    padding: 25px;
  }
  .plr-xs-sm-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .plataforma {
    font-size: 26px !important;
    padding-left: 5vh;
  }
  .text-xs-left {
    text-align: left;
  }
  .pr-xs-0 {
    padding-right: 0;
  }
  .pl-xs-0 {
    padding-left: 0;
  }
  .pr-xs-0 {
    padding-right: 0;
  }
  .plr-xs-15 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .padding-sm-25 {
    padding: 25px;
  }
  .pb-xs-30 {
    padding-bottom: 30px;
  }
  .pt-xs-60 {
    padding-top: 60px;
  }
  .ptb-xs-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .ptb-xs-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pt-xs-40 {
    padding-top: 40px;
  }
  .pb-xs-40 {
    padding-bottom: 40px;
  }
  .pb-xs-60 {
    padding-bottom: 60px;
  }
  .ptb-xs-60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .plr-xs-sm-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ml-xs-0 {
    margin-left: 0;
  }
  .mtb-xs-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mt-xs-0 {
    margin-top: 0px;
  }
  .mb-xs-0 {
    margin-bottom: 0px;
  }
  .mtb-xs-15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .mt-xs-15 {
    margin-top: 15px;
  }
  .mb-xs-15 {
    margin-bottom: 15px;
  }
  .mtb-xs-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mt-xs-30 {
    margin-top: 30px;
  }
  .mb-xs-30 {
    margin-bottom: 30px;
  }
  .float-none-xs {
    float: none;
  }
  .float-left-xs {
    float: left;
  }
  .float-right-xs {
    float: right;
  }
}

/*gernal*/

button:focus {
  outline: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

.italic {
  font-style: italic;
}

p.lead,
.lead {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 0;
}

figure {
  margin: 0;
}

button:focus,
a:focus {
  outline: none;
  box-shadow: none;
}

/*===========Slide Bar Nav===========*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-bottom: 5px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Menu Hangbuger */

/* Icon 2 */

#nav-icon2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9;
}

/*header*/

/*
  
   * ----------------------------------------------------------------------------------------
  
   * Header And Banner
  
   * ----------------------------------------------------------------------------------------
  
   */

a:focus,
a:hover {
  color: #ababab;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.header-container {
  width: 95% !important;
}

.header-top-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.language {
  padding-top: 25px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.language ul {
  margin: 0;
  padding: 0;
  float: right;
}

.language li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0;
}

.language li a {
  padding: 2px 10px;
  background: transparent;
  border: 0;
  width: auto;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: block;
}

.language li:last-child {
  border-top: 0;
}

.blog {
  padding-top: 25px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.blog ul {
  margin: 0;
  padding: 0;
  float: left;
}

.blog li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0;
}

.blog li a {
  padding: 2px 10px;
  background: transparent;
  border: 0;
  width: auto;
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: block;
}

.menu-bg {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
  height: 100px;
}

@media only screen and (max-width: 991px) {
  .header-top-area {
    height: 100px;
  }
  .header-top-area .container {
    width: 100%;
  }

  /* .img-principal-oq {
    display: flex !important;
    justify-content: center !important;
  } */
  /* .banner-title {
    color: #fff;
    font-family: "Gotham" !important;
    font-size: 20px !important;
    line-height: 25px;
    padding-top: 5px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
  } */
}

.height-100-vh {
  height: 100vh;
}

.basic-slider {
  position: relative;
}

/*---------------Parallax Banner---------------*/

.banner-area.banner-1 {
  background: url(../images/banner-bg.jpg) 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: 50% 50%;
}

.banner-area:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4) url(../images/banner-shadow.png) 50% 0%
    no-repeat;
}

/*---------------Banner Title Style---------------*/

.slider-title {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.slider-title h1 {
  z-index: 9;
  color: #fff;
  font-size: 65px;
  line-height: 1.5;
  margin: 2rem;
}

.banner-title {
  color: #fff;
  font-size: 30px;
  font-family: "Gotham" !important;
  font-weight: lighter;
  line-height: 43px;
  padding-top: 15px;
  width: 80%;
  top: -9rem;
  position: relative;
  text-align: center;
  margin: 9rem 0rem 0rem 0rem;
}

.banner-powered {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.logo-ethereum {
  margin-bottom: 3%;
}

.header_space {
  margin-top: 17vh;
}

.overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

/*images_zoom*/

.img_scale {
  overflow: hidden;
  position: relative;
}

.img_scale img {
  transition: transform 0.25s;
  width: 100%;
}

.img_scale:hover img {
  transform: scale(1.2);
}

/*========== Section of SOLUTIONS =======*/

.sec-solutions-container {
  height: 100%;
}

.section-headline-solutions {
  font-size: 6vw;
  color: #9a9a9a;
  font-family: "GothamLight" !important;
  text-align: center;
  margin-top: 8vh;
}

.solutions-list {
  display: flex;
  max-width: 100%;
  padding: 50px 50px 0;
  flex-wrap: wrap;
}

.solution-item {
  width: 33%;
  margin-bottom: 56px;
}

.solution-item img {
  width: 50%;
}

.solution-title {
  margin: 36px auto 24px;
  color: #707070;
  font-size: 24px;
  font-weight: 900;
  word-wrap: break-word;
}

.solution-description {
  font-size: 18px;
  padding: 0 30px;
}

@media screen and (max-width: 900px) {
  .solution-item {
    width: 50%;
    padding: 0 10px;
  }
}

/*========== Section 2 =======*/

.sec-2 {
  height: 100%;
  padding: 100px 0;
}

.sec-video {
  height: 100%;
}

.sec-2 h2.top {
  font-size: 1.6em;
  line-height: 2em;
  color: #000000;
}

.sec-2 h2.mid {
  font-size: 8vw;
  color: #695f59;
  font-family: "GothamLight" !important;
  text-align: right;
  margin: 30px 0;
}

.sec-2 h2.bottom {
  font-size: 1.6em;
  line-height: 2em;
  color: #df0004;
}

/*====Section Posts ======*/

.sec-posts {
  padding: 0 0 50px 0;
  background: url("../images/orange-texture.jpg") 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
}

.section-headline-post {
  font-size: 6vw;
  color: rgb(255, 255, 255);
  font-family: "GothamLight" !important;
  text-align: center;
  margin: 60px 0 30px 0;
  word-wrap: break-word;
}

.post-element {
  width: 100%;
  height: 65vh;
  padding: 5%;
  flex: 0 1 auto;
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-parent {
  min-width: 100%;
  height: 30vh;
  transform: (1, 1);
  background-color: white;
  overflow: hidden;
}

.imgPost {
  width: 100%;
  height: 100%;
  transition: 1s;
  border-radius: 5px;
  background-size: cover;
}

.post-1 {
  background-image: url("../images/roi-post.png");
}

.post-2 {
  background-image: url("../images/img-satisfacao-client.jpg");
}

.post-3 {
  background-image: url("../images/img-gamification.png");
}

.blog-subject {
  width: 100%;
  font-size: 1em;
  margin: 3% 0% 0% 0%;
}

.blog-subject a {
  text-decoration: none;
}

.subject-1 {
  color: #89229b;
}

.subject-2 {
  color: #00bcd4;
}

.subject-3 {
  color: #f44336;
}

.post-text {
  height: 20vh;
  margin-top: 1vh;
}

.post-text h5 {
  font-family: "GothamBold";
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  font-size: 1.16em;
  line-height: 1em;
  text-align: left;
  margin: 1% 0% 0% 0%;
}

.post-text p {
  line-height: 1.3em;
  margin-top: 2vh;
  font-size: 1.05em;
}

.post-text a {
  color: #001aff;
}

.img-parent:hover .imgPost,
.img-parent:focus .imgPost {
  transform: scale(1.2);
  opacity: 0.6;
}

/*====Section 3========*/

.sec-3 {
  padding: 50px 0;
  background: url(../images/section-3-bg.png) 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
}

.parent-section {
  width: 100%;
  height: 100vh;
  display: table;
}

.parent-section > .child-section {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

.headline-left {
  font-size: 8vw;
  color: #fff;
  font-family: "GothamLight" !important;
  text-align: center;
  margin: 30px 0;
}

.right-content {
  font-size: 1.6em;
  line-height: 2em;
  color: #fff;
  text-align: left;
  padding-right: 12.5vw;
}

.content-list {
  margin: 0;
  padding: 0;
}

.content-list li {
  display: block;
  font-family: "GothamLight" !important;
}

/*====Section 4========*/

.sec-4 {
  padding: 0px 0;
  width: 100%;
  height: 90vh;
  position: relative;
}

.sec-4 .section-headline {
  font-size: 7vw;
  color: #9a9a9a;
  font-family: "GothamLight" !important;
  text-align: center;
  margin: 100px 0 30px 0;
  word-wrap: break-word;
}
.plataforma {
  font-size: 37px;
  font-weight: bold;
  position: relative;
  bottom: 15%;
  z-index: 9;
  color: #fff;
  line-height: 1.5;
}

.section-sub-headline {
  font-size: 2.5vw;
  color: #d40000;
  line-height: 33px;
}

.right-content {
  font-size: 1.6em;
  line-height: 2em;
  color: #fff;
  text-align: left;
}

.content-list-vertical {
  margin: 0;
  padding: 0;
}

.content-list-vertical li {
  display: inline-block;
}

.body-text {
  font-family: "GothamLight" !important;
  font-size: 1.6em;
  line-height: 2em;
  color: #000000;
  margin-top: 50px;
}

/*====Section Organogram ======*/

.sec-org {
  padding: 0 0 50px 0;
  background: url(../images/fundo-organograma-metade.png) 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
}

.org-container {
  background-color: rgba(0, 0, 0, 1);
}

.section-headline-org {
  font-size: 6vw;
  color: #fff;
  font-family: "GothamLight" !important;
  text-align: center;
  margin-top: 8vh;
  word-wrap: normal;
}

.multiplataforma-text-desc {
  font-family: "GothamLight" !important;
  color: #fff;
  font-weight: bolder;
  margin: 5% auto 0% auto;
  font-size: 1.6em;
  line-height: 1.3em;
  text-align: center;
}

.organ-front {
  align-content: center;
  width: 80vw;
  min-width: 70vw;
  height: auto;
  padding: 0% 0%;
  margin: 0% auto;
}
/* 
.multiplat-text {
  margin-top: 0px;
  background-color: red;
} */

/*====Section 5 ========*/

.sec-5 {
  padding: 0 0 50px 0;
  background: url(../images/section-5-bg.png) 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
}

.section-headline-5 {
  font-size: 6vw;
  color: #fff;
  font-family: "GothamLight" !important;
  text-align: center;
  margin: 100px 0 0px 0;
  word-wrap: break-word;
}

.team-img-box {
  margin: 20px 0 40px 0;
  padding: 0;
  display: inline-block;
}

.team-img-box li {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45eg);
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: #fff;
}

.fit-img {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 270px;
  height: 270px;
  position: absolute;
  left: -35px;
  top: -15%;
}

.tut-text-element {
  font-family: "GothamLight" !important;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  font-size: 1.6em;
  line-height: 1.3em;
  text-align: center;
}

.performance-body-text {
  color: #fff;
  width: 80%;
  margin: 0 auto;
  font-size: 1.6em;
  line-height: 1.3em;
  text-align: center;
}
.performance-body-text strong {
  font-family: "GothamLight" !important;
  font-weight: bolder;
}

/*====Section 6========*/

.sec-6 {
  padding: 0 0 50px 0;
  background: url(../images/fundo-o2o.png) 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
}

.section-headline-white {
  font-size: 6vw;
  color: #9a9a9a;
  font-family: "GothamLight" !important;
  text-align: center;
  margin-top: 8vh;
  word-wrap: break-word;
  margin-bottom: -2vh;
}

.desc {
  align-content: center;
}

.sec-count-white {
  width: 100%;
  height: 100%;
}

.sec-count-colored {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url(../images/count_bg.png) no-repeat;
  background-size: cover;
}

.sec-6 .section-headline {
  font-size: 7vw;
  color: #9a9a9a;
  font-family: "GothamLight" !important;
  text-align: center;
  margin: 80px 0 30px 0;
  word-wrap: break-word;
}

.sec-6 .body-text {
  font-family: "GothamLight" !important;
  font-size: 1.6em;
  line-height: 1.9em;
  color: #777777;
  margin-top: 24px;
  margin-bottom: 26px;
}

.full-width {
  width: 100%;
  position: relative;
}

/*====Section 7 ========*/

.sec-7 {
  padding: 0px 0 80px 0;
  background: url(../images/section-7-bg.png) 50% no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 50%;
}

.section-headline-7 {
  font-size: 6vw;
  color: #fff;
  font-family: "GothamLight" !important;
  text-align: center;
  margin: 100px 0 30px 0;
  word-wrap: break-word;
}

.contact-text {
  font-family: "GothamLight" !important;
  font-size: 2em;
  line-height: 1.5em;
  color: #fff;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 15px;
}

.contact-details {
  font-family: Gotham;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.5em;
  color: #fff;
  margin-top: 20px;
}

.address-details {
  font-family: Gotham;
  font-size: 15px;
  line-height: 28px;
  color: #fff;
}
@media (min-width: 576px) and (max-width: 985px) {
  .agenciesImg-element {
    padding: 0;
    min-width: 90%;
    margin: 0 auto;
  }

  .agenciesImg {
    padding: 0 3vh;
    width: 60%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .agencies-text {
    font-family: "Gotham" !important;
    font-size: 14pt;
    line-height: 1.2em;
    width: 90%;
    margin: 0 auto;
    text-align: center !important;
  }

  .agencies-text br {
    display: none;
  }

  .demo-button {
    font-weight: 500;
    justify-content: space-around;
    margin: 3% 0% 0% 0%;
  }

  .spam-message {
    width: 100%;
    margin: 0 0 15px 0 !important;
  }

  .head-exclusive {
    font-size: 6vw !important;
  }

  .exclusive-solution-container {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .exclusive-solution-text {
    font-size: 22px !important;
    text-align: center;
  }

  .exclusiveImgCont {
    max-width: 250px;
    max-height: 250px;
    margin-top: 40px;
    border: 5px solid white;
  }
}

@media (max-width: 575px) {
  .agenciesImg-element {
    padding: 0;
    min-width: 90%;
    margin: 0 auto;
  }

  .agenciesImg {
    padding: 0 3vh;
    width: 60%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .agencies-text {
    font-family: "Gotham" !important;
    font-size: 14pt;
    line-height: 1.2em;
    width: 90%;
    margin: 0 auto;
    text-align: center !important;
  }

  .agencies-text br {
    display: none;
  }

  .demo-button {
    font-weight: 500;
    justify-content: space-around;
    margin: 3% 0% 0% 0%;
  }

  .post-element {
    width: 75%;
    margin: 5% auto;
    height: 50vh;
  }

  .post-text h5 {
    font-size: 1em;
  }

  .post-text p {
    font-size: 0.8em;
  }

  .sec-posts .section-headline-post {
    font-size: 2.7em;
  }

  .img-parent {
    height: 25vh;
  }

  .banner-title {
    font-family: "Gotham" !important;
    /* margin-top: 10%;
    margin-bottom: 10%; */
  }

  .section-headline-solutions {
    font-size: 36px;
  }

  .solutions-list {
    padding: 50px 5px 0;
  }

  .solution-item {
    width: 100%;
  }

  .team-img-box li {
    display: block;
  }

  .sec-org {
    filter: brightness(90%);
  }

  .form-container {
    margin: 0 auto;
    padding: 0 15px 0 0;
  }

  .contact-text {
    font-size: 24px !important;
    line-height: normal;
  }

  .parent-section {
    height: auto;
  }

  .contact-text {
    font-size: 10px;
  }
  .desc {
    margin: 0 auto 50px;
  }

  .alert {
    margin-top: 2vh !important;
  }

  .alert-primary {
    font-size: 0.5em !important;
  }

  .spam-message {
    width: 100%;
    margin: 0 0 15px 0 !important;
  }

  .head-exclusive {
    font-size: 6vw !important;
  }

  .exclusive-solution-container {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .exclusive-solution-text {
    font-size: 22px !important;
    text-align: center;
  }

  .exclusiveImgCont {
    max-width: 250px;
    max-height: 250px;
    margin-top: 40px;
    border: 5px solid white;
  }
}

@media (max-width: 991px) {
  .sec-2 h2.mid {
    font-size: 6vw;
  }
  .tut-element {
    width: 70% !important;
    margin: 5% auto;
  }
}

@media (min-width: 575px) and (max-width: 991px) {
  .banner-title {
    color: #fff;
    font-family: "Gotham" !important;
    font-size: 20px;
    line-height: 25px;
    padding-top: 5px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
  }

  .sec-posts .row .col-md-4 {
    width: 31%;
    height: 60vh;
    justify-content: space-between;
    padding: 0;
    margin: auto;
  }

  .post-element {
    height: 55vh;
  }

  .img-parent {
    height: 20vh;
    margin-bottom: -1vh;
  }

  .subject-1,
  .subject-2,
  .subject-3 {
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .post-text h5 {
    padding-top: 0;
    margin-top: -1vh;
    font-size: 0.7em;
  }

  .post-text p {
    font-size: 0.6em;
  }

  .img-logo {
    width: 50%;
    height: auto;
  }

  #call-to-action-btn {
    font-size: 3vh;
    margin-bottom: 0px !important;
  }
}
/*aqui*/
@media (max-width: 767px) {
  .banner-title-2 {
    width: 100% !important;
    font-size: 20px !important;
    font-family: "Gotham" !important;
    bottom: 12rem !important;
    font-weight: lighter !important;
    padding: 0px 10px;
  }
  .call-to-action{
    margin-top: -1rem !important;
  }
  .agencies-text {
    text-align: center !important;
    font-family: "Gotham" !important;
    font-size: 15pt;
    line-height: 1.3em;
  }
  .banner-title{
    top: -3rem;
    margin: 4rem 0rem 0rem 0rem;
  }

  .agencies-text-contain {
    width: 100%;
  }

  .agenciesImg {
    min-width: 100%;
  }

  .slider-title h1 {
    font-size: 30px;
    text-align: center;
  }

  .slider-title img {
    max-width: 65%;
    height: auto !important;
  }

  .banner-title {
    margin: 0 px;
    width: 100%;
    font-size: 20px;
    font-family: "Gotham" !important;
  }

  .sec-2 {
    padding: 60px 0;
  }
  .sec-2 h2.mid {
    text-align: left;
    font-size: 2.7em;
    margin: 30px 0;
  }
  .parent-section {
    display: block;
  }
  .parent-section > .child-section {
    display: block;
  }
  .headline-left {
    font-size: 2.7em;
    margin: 30px 0;
  }
  .right-content {
    font-size: 1.6em;
    line-height: 1.5em;
    padding-right: 3vw;
  }
  .section-headline {
    font-size: 4vw;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100%;
  }
  .section-sub-headline {
    font-size: 6vw;
  }
  .content-list-vertical li {
    display: block;
    text-align: left;
    line-height: 30px;
  }
  .body-text p {
    line-height: normal;
    text-align: left;
    margin-top: 35px;
  }
  .sec-4 {
    height: 100%;
    padding: 20px 0 50px 0;
  }
  .sec-4 .section-headline {
    font-size: 2.7em;
  }
  .sec-5 .section-headline-5 {
    font-size: 2.7em;
  }

  .sec-6 .section-headline-white {
    font-size: 2.7em;
    margin-bottom: -6vh;
  }

  .sec-6 .section-headline {
    margin-bottom: 0;
  }

  .sec-org .section-headline-org {
    font-size: 2.2em;
  }

  .sec-win .section-headline-win {
    font-size: 2.7em;
  }

  .desc {
    margin-top: 0 !important;
    text-align: center;
  }

  .sec-6 .section-headline {
    font-size: 2.7em;
  }
  .sec-7 .section-headline-5 {
    font-size: 2.7em;
    margin-bottom: 20px;
  }
  .sec-6 .body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }

  .multiplat-desc {
    font-size: 1em;
  }

  .contact-text {
    font-size: 16px;
  }

  .contact-details {
    font-size: 1.3em;
  }

  .spam-message {
    padding-left: 15px;
  }
}

/*top_part*/

.position_rel {
  position: relative;
}

.videoStyle {
  width: 100% !important;
  height: auto !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ethereum_logo {
  width: 20vh;
}

.iframe_allow_scroll {
  margin-top: -100vh;
  position: relative;
  z-index: 999;
}

.big-red-text {
  color: rgb(255, 0, 0);
  font-size: 2.8em;
  padding: 20px;
}

.padding-30 {
  padding: 30px !important;
}

.white-text {
  color: white;
}

.no-margin {
  margin: 0 !important;
}

.margin-all-20 {
  margin: 20px;
}

.circle-image {
  padding: 8vh;
}

svg {
  height: 100%;
}

circle {
  fill: rgba(247, 247, 247, 0);
}

text {
  fill: #787878;
}

whiteText {
  fill: #ffffff;
}

.svg-title {
  color: rgb(12, 12, 12);
  font-size: 1.6em;
  line-height: 1.3em;
  text-align: center;
}

svg {
  width: 50vh;
  height: 50vh;
  text-align: center;
}

.count-number {
  fill: #e22300;
  font-family: "GothamBold";
}

.whiteText {
  fill: #ffffff !important;
}

.svg-wrapper {
  padding: 0;
  display: flex;
}

.svg-circle {
  width: 80%;
  height: 80%;
  display: flex;
}

.circle-text {
  font-size: 2.5vh;
}

.whiteTextColor {
  color: white !important;
}

.call-to-action {
  display: flex;
  align-items: center;
  margin-top: -8vh;
  margin-bottom: 2.5vh;
  position: relative;
  bottom: 9rem;

}

#call-to-action-btn {
  background-color: rgb(226, 24, 56, 0.9);
  border-color: rgb(226, 24, 56, 0.9);
  justify-content: space-around;
  /* margin-bottom: 1rem; */
}
.lgpd{
  width: 100px;
  position: relative;
  bottom: 8rem;
  text-align: center;
  animation: fadeBanner2 20s;
}

.icon {
  color: #323232;
  background: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 15px;
}

.form-input {
  border: 1px solid #fafafa;
  color: #fafafa;
  background: #000000b8;
  border-radius: 0;
  font-size: 15px;
  padding: 8px;
}

.margin-bt-15 {
  margin-bottom: 15px;
}
/* 
.container {
  padding-right: 0;
} */

.p-right-0 {
  padding-right: 0;
}

.button_example {
  border-width: 0;
  border-radius: 4.8px;
  color: #ffffff;
  background-color: #e21838;
  background-image: -webkit-linear-gradient(to right, #e21838, #700c1c);
  background-image: -moz-linear-gradient(to right, #e21838, #700c1c);
  background-image: -ms-linear-gradient(to right, #e21838, #700c1c);
  background-image: -o-linear-gradient(to right, #e21838, #700c1c);
  background-image: linear-gradient(to right, #e21838, #700c1c);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E21838, endColorstr=#700C1C);
}

.button_example:hover {
  border-width: 0px;
  border-radius: 4.8px;
  background-color: #e21838;
  background-image: -webkit-linear-gradient(to right, #e21838, #e21838);
  background-image: -moz-linear-gradient(to right, #e21838, #e21838);
  background-image: -ms-linear-gradient(to right, #e21838, #e21838);
  background-image: -o-linear-gradient(to right, #e21838, #e21838);
  background-image: linear-gradient(to right, #e21838, #e21838);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E21838, endColorstr=#E21838);
}

.m-top {
  margin-top: 3vh;
}

.btn-primary-color {
  background-color: #e21838;
  color: white;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.padding-10 {
  padding: 10px;
}

.blogText {
  color: "#FFFFFF" !important;
  font-size: 15px !important;
}

.partnerImage {
  padding: 3vh;
  width: 55vh;
  height: 27vh;
  object-fit: contain;
}

.partnerImageTop {
  padding: 8vh !important;
}

.partnerImageBDMG,
.atake {
  padding: 5vh !important;
}

.partner-bottom {
  margin-top: 1%;
}

.partners-wrapper {
  display: flex;
  display: -webkit-flex;
  /* Garante compatibilidade com navegador Safari. */
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 276px) and (max-width: 768px) {
  .col-sm-6 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .partnerImageTop {
    padding: 3vh !important;
  }

  .partnerImageBDMG {
    padding: 3vh !important;
  }

  .solution-item img {
    width: 60% !important;
  }
}

.copyright-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.partners-image-linkedin {
  padding: 1vh;
  object-fit: contain;
}
.copyright-margin {
  margin-top: 20px;
}

.footerImage {
  width: 15vh;
}

.clientSessionBottom {
  margin-bottom: 0vh;
}

.spam-message {
  font-size: 12px;
  color: #fff;
}

.form-info-wrapper {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}

.agenciesImg {
  padding: 3vh;
  width: 70vh;
  height: 40vh;
  object-fit: contain;
}

.agencies-text {
  margin: 0px auto !important;
  font-family: "Gotham";
}

.exclusiveImgCont {
  background-image: url("../images/exclusive-solution.jpeg");
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
  border-radius: 50%;
  border: 10px solid white;
  background-repeat: no-repeat;
  background-position: center;
}

.head-exclusive {
  font-size: 6vw;
  color: #9a9a9a;
  font-family: "GothamLight" !important;
  text-align: center;
  margin-top: 5vh;
}

.demo-button {
  font-weight: 500;
  justify-content: space-around;
  margin-top: 3%;
}

.head-agencies {
  margin-bottom: 0px !important;
}

.agencies-text-contain {
  margin: 3% auto;
}

.exclusive-solution-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exclusive-solution-text {
  text-align: left;
  font-family: "Gotham";
}

.exclusive-solution-text b {
  color: rgb(50, 50, 50);
}

/* 
.text {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  line-height: 90px;
  text-align: center;
  position: absolute;
  opacity: 0;
  animation: fader 7s;
}
.call-to-action {
  opacity: 1;
  animation: fadein 9s;
  position: relative;

}
.text-oq {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  opacity: 1;
  animation: fadein 9s;
  width: 51%;
}
h4.text-oq.b {
  padding-bottom: 26px;
}
@media (max-width: 824px) {

  .text {
    font-size: 2rem;
    line-height: 40px;
  }
  p.text-oq.b {
    padding: 0px;
    width: 100%;
  }
  h6.text.a {
    margin: 0px !important;
  }
}
p.text-oq.b {
  padding: 0 3% 0 3%;
}

.a {
  animation-delay: 0s;
  margin: 0% 22% 0% 9%;
}

.b {
  animation-delay: 0s;
}
.img-oq {
  width: 65%;
}

@keyframes fader {
  30% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@keyframes fadein {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
*/

.banner-title {
  animation-delay: 0s;
  animation: fader 10s;
  opacity: 0;
}

.banner-title-2 {
  color: #fff;
  font-size: 30px;
  font-family: "Gotham" !important;
  font-weight: lighter;
  line-height: 43px;
  position: relative;
  bottom: 14rem;
  width: 80%;
  text-align: center;
  animation: fadeBanner2 20s;
}
.plataforma {
  animation: fadePlataforma 15s;
}
.call-to-action {
  animation: fadeCallToAction 20s;
}

.CookieConsent > div {
  text-align: initial;
  justify-content: center;
}
.CookieConsent {
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin: 2rem 1rem;
}

@media(min-width: 1052px) {
  .CookieConsent {
    margin: 0 0 2rem 6rem;
  }
}
@media(max-width: 420px) {
  .CookieConsent {
    align-items: initial !important;
    bottom: -20px !important;
  }
  .CookieConsent > div {
    flex: initial !important;
    margin: 1px !important;
    font-size: 13px !important; 
  }
  .CookieConsent > div > div {
    display: flex !important;
    align-items: center !important;
    justify-content: initial !important;
  }
  .CookieConsent button#rcc-confirm-button {
    padding: 2px !important;
    margin: 4px !important;
  } 
}

@media (max-width: 380px){
  .CookieConsent button#rcc-confirm-button {
    padding: 2px !important;
    margin: 2px !important;
  }
}

@media (max-width: 320px) {
  .call-to-action {
    margin-top: -3rem !important;
  }
  .CookieConsent {
    bottom: -25px !important; 
  }
  .CookieConsent > div {
    font-size: 15px !important;
  }
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}
@keyframes fadeBanner2 {
  0%,
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes fadeCallToAction {
  0%,
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes fadePlataforma {
  0%,
  40% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
